<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <title>CHS Notices API | Documentation</title>
</head>
<body>
  <h1>Documentation</h1>
  <h3>Usage:</h3>
  <p>Send requests to: <a href="https://chs-notices.herokuapp.com/notices">https://chs-notices.herokuapp.com/notices</a></p>
  <p>You will need an API key.  How do you get an API key?  I don't know ¯\_(ツ)_/¯</p>
  <p>Put the API key on the end of the URL like this:  <a href="https://chs-notices.herokuapp.com/notices?key=[your api key]">https://chs-notices.herokuapp.com/notices?key=[your api key]</a></p>
  <br />
  <p>By default the notices will be taken from the most recent set of daily notices.  To specify an older set of notices, use the date argument.</p>
  <p>Use it something like this:  <a href="https://chs-notices.herokuapp.com/notices?key=[your api key]&date=18-05-31">https://chs-notices.herokuapp.com/notices?key=[your api key]&date=18-05-31</a></p>
  <p>Make sure the date is in the format of yy-mm-dd.</p>
  <br />
  <p>And that's it.  Good luck.</p>
  <p><a href="/">&#171; Go back home</a></p>
</body>
</html>
