<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <title>CHS Notices API</title>
</head>
<body>
  <div class="bigBox">
    <h1>CHS Notices API</h1>
    <p class="subtitle">An API for the Cashmere High School daily notices.</p>
    <a class="button" href="/documentation">documentation</a>
  </div>
</body>
</html>
